%tr
  %td
    %p.font-16 Subtotal:
  %td
    %p.font-16= toEURO(total_sum)
%tr
  %td
    %p.font-16 Coupon:
  %td
    %p.font-16= toEURO(coupon)
- if delivery? 
  %tr
    %td
      %p.font-16 Delivery:
    %td
      %p.font-16= toEURO(delivery_cost)
%tr
  %td
    %strong.font-18 Order Total:
  %td
    %strong.font-18= toEURO(order_total)
