= link_to user_facebook_omniauth_authorize_path, class: "general-login-icon mlr-20" do
  %i.fa.fa-facebook-official

= link_to user_github_omniauth_authorize_path, class: "general-login-icon mlr-20" do
  %i.fa.fa-github

